<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Logan's Portfolio</title>   

<meta name="description" content="This is Logan Thomas' Portfolio for Advanced Writing in the Sciences." /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->

</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->


<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <!-- <div id="logo">
        	<a id="goUp" href="#home-slider" title="Python Data Visualization">Brushed Template</a>
        </div> -->
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<!--<li class="current"><a href="#home-slider">Home</a></li>-->
                <li><a href="#Intro">Intro</a></li>
                <li><a href="#Unit1">Assignments</a></li>
                <li><a href="#Conclusion">Conclusion</a></li>
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<!-- Begin Intro -->
<div id="Intro" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Creative Title Here</h2>
               <!-- <h3 class="title-description">Learn Who I am and what I like to do.</h3>-->
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
   
	
	<!-- Graph Types -->
	<div class="row">
    	
        <!-- Start Profile -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <!-- <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">CTO/Founder</span>
                </div> -->
                <img src="_include/img/profile/me_color_ear.svg" alt="Logan Thomas">
            </div>
		</div>
		<div class="span6 profileText">
            <h3 class="profile-name">Logan Thomas</h3>
						
            <p class="profile-description">
			<p>Throughout this semester, this course has pushed me to become a better writer in mathematics and physics writing. I have explored different
            writing styles throughout the semester that allowed me to find my strengths and weaknesses as a writer, offering the opportunity to improve myself 
            in those areas of weakness. For a person of my profession, the three key learning goals from this course are to learn how to: Formulate and articulate 
            a stance through and in my writing, write to learn and to communicate what I learn, and reflecting on my writing process and self-assess as a writer.</p>
            
            <p>The first goal, to formulate and articulate a stance through and in my writing, is important to me because with any sort of data analysis I do, I will 
            need to provide in depth analysis of whatever results I find. This analysis requires me to formulate and articulate a stance. This course has helped me in 
            this because this formulation and articulation of a  stance has been central to many of the assignments thus far.</p>
            
            <p>I think that the best example of my writing that expresses this first goal of learning in this course is my Op-ed on Mathematics education. In that essay, 
            I began by expressing the need for a better education in mathematics, followed by an opinionated review of the reason to teach math.  I then provide other 
            sources saying similar things to me or backing my claim. Then, I address a few key problems people have with math, followed by why those problems are mislead 
            and offer solutions to fix these problems. Through this essay, I feel my argument was well founded with outside sources and well articulated points such as, 
            after citing a study done about different ways to teach children math I said, “It is for this reason that math problems are not necessarily about practicality, 
            and never have been. Math is known and always has been known for giving useless, impractical problems to see how students approach a problem they don't already 
            know how to solve.”(Math Op-Ed) This point follows evidence and addresses a counterpoint to my argument, both strengthening my claim and weakening the opposing
            claim.</p>
            
            <p>The second main goal of the course, to write to learn and communicate what I learn, is a very important skill to have because it allows me to write my way
            through a problem.  This skill in combination with the first skill allows me to write a paper without a specific argument in mind and finish the paper with a 
            well formed articulate argument based on the evidence provided in the paper. </p>
            
            <p>I showed my learning of this goal in my most recent essay reviewing modern methods of modularity optimization. I wrote this essay because it is a problem I was
            facing at work, choosing which of the key modularity optimization methods to select. I came into the essay with no preference and I have used a few of the methods 
            with varied results. After writing the essay I had formed a strong preference for the Louvain method. I began the essay with unbiased definitions and introductions 
            to all the methods reviewed. The second part of the essay where the table was included and analysis of the results of the table show that the Louvain method was 
            clearly better than the other methods allowed me to learn with the reader that that method was better than others. This essay allowed me to begin with no opinion 
            on a topic and end with a well founded opinion.</p>
            
            <p>The third main goal of the course for me was to be able to reflect on my writing process and self-assess as a writer. This is an invaluable skill to learn as it 
            allows me to always improve. Acknowledging that I am not a great writer and being able to asses where in my writing I need work is vital in improving myself and my 
            arguments. This is not necessarily profession specific as it pertains to many aspects of life.</p>
            
            <p>The combination of these three goals from this course I feel can further me in my profession whether it be in math, physics or data science. Formulating a stance
            through my writing is a vital skill in presenting any argument through analysis and presentation of evidence, being able to learn through writing is an invaluable way
            to get myself out of any pickle where I am unsure of the correct opinion in an argument. Finally, I am continuing to learn and improve my writing by assessing myself 
            along the way attempting to identify my strengths and weaknesses. </p>
            
            
            	
			<table>
				<tr>
					<td>Email:</td>
					<td>Lathomas42@gmail.com</td>
				<tr>
			</table>
			<div class="social">
            	<ul class="social-icons">
                	<li><a href="https://github.com/Lathomas42"><i class="font-icon-social-github"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
        
    </div>
	<!-- End Graph Types -->
</div>
</div>
<!-- End Intro -->


<!-- Begin Unit1 -->
<div id="Unit1" class="page">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="title-page">
					<h2 class="title">Analysis of a Research Paper</h2>
					<h3 class="title-description">An analysis of a prominent research paper in Complex Networks</h3>
				</div>
			</div>
		</div>
		<!-- Bokeh Ex1 -->
		<div class="row">
			<div class="span4">
				<a href="_include/img/Examples/stocks.html">
				<div class="image-wrap">
					<div class="hover-wrap">
						<span class="overlay-img"></span>
						<span class="overlay-text-thumb">Bokeh Line Chart</span>
					</div>
					<img src="_include/img/Examples/bok_ex1.PNG" alt="Bokeh Line Chart Example.">
				</div>
				</a>
			</div>
			<div class="span8">
				
				<div class="tabbable">
				
					<ul class="nav nav-tabs" id="Bex1Table">
						<li class="active"><a href="#U1Sum" data-toggle="tab">What I Learned</a></li>
						<li><a href="#U1Good" data-toggle="tab">What I Did Well</a></li>
						<li><a href="#U1Bad" data-toggle="tab">What I can Improve</a></li>
					</ul>
				 
					<div class="tab-content">
						<div class="tab-pane fade in active" id="U1Sum">
							<p>The first assignment in this course was an analysis of a sample of writing from my profession. The paper I chose was
                            <a href="http://www.barabasilab.com/pubs/CCNR-ALB_Publications/199910-15_Science-Emergence/199910-15_Science-Emergence.pdf"><i>Emergence of Scaling in Random Networks</i></a>
                            by Albert-L&aacuteszl&oacute Barab&aacutesi and R&eacuteka Albert in 1999. I chose this paper because it was a hugely influential paper in
                            Complex Networks which is very related to many projects I do both at work and in classes.</p>
                            
                            <p>Throughout this assignment I attempted to make specific judgements on the authors decisions in his writing by citing key moments in the paper I thought were especially
                            important or controversial. In the early stages of this assignment I did not understand how to make judgements about the author very well, I found myself summarizing the
                            paper instead of making judgements.</p>
                            
                            <p>By the end of the assignment I better understood how to read closely and understand the reasoning behind different choice the author made in writing the paper.
                            This made me a better writer by allowing me to improve my critical reading skills and learn different methods for writing a scientific paper.</p>
						</div>
						<div class="tab-pane fade in" id="U1Good">
							</p> The data for this specific plot was found through Bokeh's easy to access sample data sets. These
							data sets can be accessed by importing <a href="https://github.com/ContinuumIO/bokeh/tree/master/bokeh/sampledata">bokeh.sampledata</a>.
							Using bokeh's sample data is a great way to introduce yourself to data visualization because they have examples 
							for each dataset, however, you can take the data and visualize it in a different way.</p>
						</div>
						<div class="tab-pane fade in" id="U1Bad">
							


						</div>
					</div>
							
				</div>
			</div>
		</div>
	</div>
	
</div>
<!-- End Unit1 -->

<!-- Begin Unit2 -->
<div id="Unit2" class="page-alternate">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="title-page">
					<h2 class="title">Reference Document</h2>
					<h3 class="title-description">A Reference Document for Data Visualization in Python</h3>
				</div>
			</div>
		</div>
		<!-- Bokeh Ex1 -->
		<div class="row">
			<div class="item-thumbs span4 design">
				<a class="hover-wrap fancybox" data-fancybox-group="nx" title="Networkx DiGraph Example" href="_include/img/Examples/Nx_ex1.png">
					<span class="overlay-img"></span>
					<span class="overlay-img-thumb font-icon-plus"></span>
				</a>
				<img src="_include/img/Examples/Nx_ex1.png" alt="A simple example of the Networkx DiGraph Class.">
			</div>
			<div class="span8">
				<!--<h3 class="spec">Tabs</h3>-->
				
				<div class="tabbable">
				
					<ul class="nav nav-tabs" id="NxEx1">
						<li class="active"><a href="#U2Sum" data-toggle="tab">What I Learned</a></li>
						<li><a href="#U2Good" data-toggle="tab">What I Did Well</a></li>
						<li><a href="#U2Bad" data-toggle="tab">What I can Improve on</a></li>
					</ul>
				 
					<div class="tab-content">
						<div class="tab-pane fade in active" id="U2Sum">
							<p>This assignment's goal was to create a reference document for people in our profession. I chose to make a reference document
                            that allowed readers to learn about 4 different data visualization packages in python. The challenge of this assignment was to 
                            learn how to best display information.</p>
                            
                            <p>In this assignment, the challenge I faced was deciding how to display information in an accurate way without saturating the
                            page with information. I wanted to make my document readable and usable by anyone interested.</p>
						</div>
						<div class="tab-pane fade in" id="U2Good">
							<p>The data I used for this was completely made up data of a friends group that was saved in a ".txt" file and looked like this:</p>
							<pre>Bill is friends with Joe,Sue,Mary
Sue is friends with Joe,Mary
Joe is friends with Sue,Bill
Mary is friends with Sue,Bill</pre>
							<p>This was not the most organized way to keep this code but was used as an example to show that you can parse edges from anything.</p>
							
						</div>
						<div class="tab-pane fade in" id="U2Bad">
							   
 
						</div>
					</div>
							
				</div>
			</div>
		</div>
	</div>
	
</div>
<!--End Unit2 -->


<!-- Begin Unit3 -->
<div id="Unit3" class="page">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="title-page">
					<h2 class="title">Opinion Article</h2>
					<h3 class="title-description">An Op-Ed on Mathematics Education</h3>
				</div>
			</div>
		</div>
		<!-- Bokeh Ex1 -->
		<div class="row">
			<div class="item-thumbs span4 design">
				<a class="hover-wrap fancybox" data-fancybox-group="mpl" title="Matplotlib Bar Plot Example" href="_include/img/Examples/MPL_ex1.png">
					<span class="overlay-img"></span>
					<span class="overlay-img-thumb font-icon-plus"></span>
				</a>
				<img src="_include/img/Examples/MPL_ex1.png" alt="A simple example of the Matplotlib Bar Plot.">
			</div>
			<div class="span8">
				<!--<h3 class="spec">Tabs</h3>-->
				
				<div class="tabbable">
				
					<ul class="nav nav-tabs" id="MPLEx1">
						<li class="active"><a href="#U3Sum" data-toggle="tab">What I Learned</a></li>
						<li><a href="#U3Good" data-toggle="tab">What I Did Well</a></li>
						<li><a href="#U3Bad" data-toggle="tab">What I can Improve On</a></li>
					</ul>
				 
					<div class="tab-content">
						<div class="tab-pane fade in active" id="U3Sum">
							<p>This assignment was to create a peice of technical writing in my discipline that displays information to an
							audience that is uninformed on the subject. I chose to write an opinion-editorial about the current state of 
							Mathematics educations. Opinion-editorials are usually featured in magazines or newspapers and identify a problem
							in the world and then offer a solution to the problem. For my article I discussed the poor state of Math education,
							then discussed what people can do to make it better.
							</p>
							<p>
							This assigment taught me skills that are invaluable to someone in my discipline. The need to write in a way that is
							understandable to anyone reading taught me how to discuss or display statistics in a way that is readable, concise,
							and clear. Thought my information was not extremley complicated I did have plenty of numbers that I easily disguised 
							with plots and graphs.
							</p>
							<p>
								This Assigment also allowed me to improve my ability of finding and using peices of evidence to support a claim.
								This skill is very valuable for myself as an analyst or mathematician to be able to persue and intuition that I may 
								have. 
							</p>
						</div>
						<div class="tab-pane fade in" id="U3Good">
							<p>The data used for this example is a free data-set from <a href="http://www.sports-reference.com/olympics/">Sports Reference</a> who has a large (8618 athlete) dataset for the history of the olympics.</p>
							<p>This data was already formatted in a .xlsx format though I switched it to a <a href="https://docs.google.com/spreadsheets/d/1sBPnmjGM20bkQJ_WWroE_iBZEqOUcHhEBPqOVEfr3-0/edit?usp=sharing">.csv type</a> to be easily readable in python.
							The csv was formatted in columns like so:</p>
							<pre>Athlete,Age,Country,Year,Closing Ceremony Date,Sport,Gold Medals,Silver Medals,Bronze Medals,Total Medals</pre>
							<p> Although this was way too much information for what I wanted to do so I only payed attention to the Age and the Medals Columns, ignoring 5 columns.</p>
							<p> There are thousands of free data-sets on-line, this is a great example of one of them but many more can be found in places like <a href="data.gov">data.gov</a>. A word of warning with free data-sets, they often have too much information,
							such as this case, where we ignored many of the columns, The unnecessary information should be thrown away at the start to reduce memory used.</p>
						</div>
						<div class="tab-pane fade in" id="U3Bad">

						</div>
					</div>
							
				</div>
			</div>
		</div>
	</div>
	
</div>
<!--End Unit3 -->

<!-- Begin Unit4 -->
<div id="Unit4" class="page-alternate">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="title-page">
					<h2 class="title">Literature Review</h2>
					<h3 class="title-description">A Literature Review on Methods of Modularity Optimization</h3>
				</div>
			</div>
		</div>
		<!-- PQT Ex1 -->
		<div class="row">
			<div class="item-thumbs span4 design">
				<a class="hover-wrap fancybox" data-fancybox-group="pqt" title="PyQt ScatterPlot Example" href="_include/img/Examples/pyqt_ex1.PNG">
					<span class="overlay-img"></span>
					<span class="overlay-img-thumb font-icon-plus"></span>
				</a>
				<img src="_include/img/Examples/pyqt_ex1.PNG" alt="An Example of the PyQt ScatterPlot">
			</div>
			<div class="span8">
				<!--<h3 class="spec">Tabs</h3>-->
				
				<div class="tabbable">
				
					<ul class="nav nav-tabs" id="PQTEx1">
						<li class="active"><a href="#U4Sum" data-toggle="tab">What I Learned</a></li>
						<li><a href="#U4Good" data-toggle="tab">What I Did Well</a></li>
						<li><a href="#U4Bad" data-toggle="tab">What I can Do Better</a></li>
					</ul>
				 
					<div class="tab-content">
						<div class="tab-pane fade in active" id="U4Sum">
							<p>
								This assigment drew upon skills learned throughout the semester to create a Literature Review on 
								some current methods of Modularity optimization. A Literature review is a paper that attempts to 
								compare and contrast scientific papers in a certain feild. These Literature reviews are extremely 
								useful to asses the state of a field from an outside presepctive.
							</p>
							<p>
								Because this assigment encorperated the other assigments, this review had many skills that are valuable
								for me to learn. First it offered me the opportunity to review papers in a  field that I both interested
								and invested in. I use modularity at work to determine groups of neurons based on their connection network,
								writing this paper allowed me to identify the best method. This was one of the best takeaways from this
								course for me, I began writing this paper without an opinion, just an interest and a question, which method
								has the best results, the fastest. Through research and writing I soon found an answer. Being able to write 
								myself through an argument, forming it as I go is a valuable skill I am still learning, however this essay 
								allowed me to see how that is done.
							</p>
						</div>
						<div class="tab-pane fade in" id="U4Good">
							<p> The data used in this plot are large data-sets downloaded from <a href="http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/">UCI's machine learning database</a>,
							they are two datasets, preformatted in csv form. One set is red wine(~1600 entries), one set is white wine(~4900 entries). Both sets are similarly formated into columns according to :</p>
							<pre>"fixed acidity";"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"</pre>
							<p> <a href="http://archive.ics.uci.edu/ml/">UCI</a> is another place on the internet to get great sets of data for free. This particular set allowed me to compare different qualities 
							of red and white wine to the rating to look at trends. Note that in this example, there were many different comparisons I could have made between qualities. The top comparison seems
							to be a decent comparison because we see a clear trend in rating as we go to higher pH/alchohol content. The bottom plots seem to be poor comparisons because there is no real trend 
							going on.</p>
							<p>Sometimes when you have large sets of data with many different qualities it requires you to hunt around and try some different comparisons or plot types before you get one that has a significant trend.</p>
						</div>
						<div class="tab-pane fade in" id="U4Bad">
							 
						</div>
					</div>
							
				</div>
			</div>
		</div>
	</div>
	
</div>
<!--End Unit4 -->






<!-- Footer -->
<footer>
	<p class="credits">&copy;2013 Brushed. <a href="http://themes.alessioatzeni.com/html/brushed/" title="PythonDataVisualization">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>
